
.favoriteListContainer {
    width: 90%;
    max-width: 600px;
    margin: 5px 0;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    flex-shrink: 0; /* Prevent FavoriteList from shrinking */
    overflow-y: auto;
}

.favoritesTitle {
    font-size: 1.5em; /* Adjust as needed */
    margin: 0; /* Space below the title */
    padding: 0;
}

.favoriteList {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    text-align: left;
}

.favoriteList li {
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
    cursor: pointer; /* Change cursor to pointer on hover */
    padding: 0.5em 0; /* Add padding for better click area */
    transition: background-color 0.2s; /* Smooth background transition */
}

.favoriteList li:hover {
    background-color: #f0f0f0; /* Change background on hover */
}