/* styles.module.css */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.header {
  text-align: center;
  padding: 20px 0;
}

.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  margin: 0;
}

.titleWord {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.titleWord:first-child {
  color: #e73c3c;
}

.titleWord:last-child {
  color: #3f34db;
}

.titleWord:hover {
  transform: scale(1.1) rotate(-5deg);
}

.qrCodeImage {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  background-image: url('../../resources/download.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
    text-align: center;
    flex-shrink: 0;
}

.qrCodeTrigger {
    cursor: pointer;
    text-decoration: underline;
    color: #084126;
}

.qrCodeModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrCodeContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.closeQrCode {
    padding: 10px 20px;
    background-color: #084126;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.closeQrCode:hover {
    background-color: #052e1a;
}

