.trackInfoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    margin: 5px 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
    overflow: hidden; /* Ensure content doesn't overflow the container */
}

.trackInfoContainer h3 {
  margin-top: 15px; /* Remove default margin from h3 */
}
